* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Roboto", sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: #2a2d4b;
  position: relative;
}

/*---------------------------------------------------------------------------*/
[class*=__container] {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/*---------------------------------------------------------------------------------*/
.header__container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.header__logo-link {
  text-transform: uppercase;
  color: #4f5175;
  font-size: 30px;
}

/*------------------------------------------------------------------------------------------*/
.menu__icon._active span {
  transform: scale() translate(0px, -50%);
}

.menu__icon._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.menu__icon._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.menu__icon {
  display: block;
  position: relative;
  z-index: 5;
  width: 30px;
  height: 18px;
  cursor: pointer;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
  position: absolute;
  left: 0;
  height: 10%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: #7678af;
}

.menu__icon::before,
.menu__icon::after {
  content: "";
}

.menu__icon::before {
  top: 0;
}

.menu__icon::after {
  bottom: 0;
}

.menu__icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.menu__body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  background-color: rgba(255, 137, 78, 0.979);
  padding: 100px 30px 30px 30px;
  transition: left 0.3s ease 0s;
}

.menu__body._active {
  left: 0px;
}

/*
.menu__list {
    display: block;
    text-align: center;
}

.menu__item {
    font-size: 35px;
}

.menu__list > li:not(:last-child) {
    margin: 0px 0px 30px 0px;
}

*/
/*------------------------------------------------------------------------------------------*/
.main__input {
  position: relative;
  margin: 10px 0px 17px;
}
.main__btn {
  position: absolute;
  top: 17%;
  right: 8px;
  font-size: 25px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #3a4df7;
}

.input {
  font-size: 18px;
  padding: 12px 45px 12px 20px;
  width: 100%;
  border-radius: 20px;
  background-color: #21203f;
  color: #fff;
}

/*-------------------------------------------------------------------------------*/
.todo, .completed {
  padding: 17px 0px;
  position: relative;
}
.todo ::before, .completed ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #4f5175;
}
.titles {
  text-transform: uppercase;
  color: #7678af;
  font-weight: 700;
  margin: 0px 0px 20px 15px;
}

.list__item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #44435e;
  color: #fff;
  padding: 20px 15px;
  font-size: 18px;
  border-radius: 10px;
  justify-content: start;
}
.list__item:not(:last-child) {
  margin-bottom: 10px;
}

.list__item._done {
  color: green;
  text-decoration: line-through;
}

.list__item button {
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}

.list__item button._done {
  background-color: green;
}